[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gunicorn = "*"
"psycopg2-binary" = "*"
flask-admin = {git = "https://github.com/flask-admin/flask-admin"}
gevent = "*"
greenlet = {version = "*", platform_python_implementation="=='CPython'"}
flask = "*"
flask-cors = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
flask-basicauth = "*"
python-jose = "*"
raven = {extras = ["flask"], version = "*"}
firebase-admin = "*"
requests = "*"
flask-restplus = "*"
futures = "==3.1.1"
prometheus-client = "*"


[dev-packages]

"flake8" = "*"
"flake8-docstrings" = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
ipython = "*"


[requires]

python_version = "3.6"
