# Flask and related libs
flask
# safety reports vulnerability issues in flask-admin<=1.5.2
flask-admin>=1.5.3
flask-basicauth
flask-cors
flask-apispec
# Pin apispec as it's not compatible with the latest flask-apispec.
# See https://github.com/jmcarp/flask-apispec/issues/130
apispec == 0.39.0

# Database & orm
alembic
flask-migrate
flask-sqlalchemy
psycopg2-binary
sqlalchemy

# Other third party libs
firebase-admin
prometheus-client
python-jose
raven[flask]
requests
