# Flask and related libs
flask
# safety reports vulnerability issues in flask-admin<=1.5.2
flask-admin>=1.5.3
flask-basicauth
flask-cors
flask-apispec

# Database & orm
alembic
flask-migrate
flask-sqlalchemy
psycopg2-binary
sqlalchemy

# Other third party libs
firebase-admin
prometheus-client
python-jose
raven[flask]
requests
sendgrid
