# WSGI
flask
flask-cors
gevent
gunicorn

# Database & orm
alembic
flask-migrate
flask-sqlalchemy
psycopg2-binary
sqlalchemy

# Other third party libs
firebase-admin
flask-admin
flask-basicauth
flask-restplus
prometheus-client
python-jose
raven[flask]
requests
